certifi==2025.7.14
charset-normalizer==3.4.2
idna==3.10
kagglehub==0.3.12
packaging==25.0
PyYAML==6.0.2
requests==2.32.4
tqdm==4.67.1
urllib3==2.5.0

pandas~=2.3.1
scikit-learn~=1.7.0
joblib~=1.5.1
matplotlib~=3.10.3
seaborn~=0.13.2
Flask~=3.1.1
flask-cors~=6.0.1
numpy~=2.3.1